= render 'shared/header'
.main
  .main-title
    %h2 投稿一覧
  .main-area
    .route-data-box
      .route-data-box-upper
        .route-name
          淡路島
        .route-place
          兵庫県
        .route-image
          = image_tag "淡路島.jpg", class:'index-image'
      .route-data-box-lower
        .likes-icon
          %i.far.fa-heart
        .bookmark-icon
          %i.far.fa-bookmark
        .comments-icon
          %i.far.fa-comment
    .route-data-box
      .route-data-box-upper
        .route-name
          淡路島
        .route-place
          兵庫県
        .route-image
          = image_tag "淡路島.jpg", class:'index-image'
      .route-data-box-lower
        .likes-icon
          %i.far.fa-heart
        .bookmark-icon
          %i.far.fa-bookmark
        .comments-icon
          %i.far.fa-comment
    .route-data-box
      .route-data-box-upper
        .route-name
          淡路島
        .route-place
          兵庫県
        .route-image
          写真
      .route-data-box-lower
        .likes-icon
          %i.far.fa-heart
        .bookmark-icon
          %i.far.fa-bookmark
        .comments-icon
          %i.far.fa-comment
  .map-area
    #map