.header
  .header-upper
    Cyclist Fan
  .header-lower
    .header-lower-box
      - if user_signed_in?
        = link_to user_path(current_user), class: 'btn-mypage' do
          .header-lower-menu
            .header-lower-text
              マイページ
    .header-lower-box
      - if user_signed_in?
        = link_to root_path class: 'btn' do
          .header-lower-menu
            .header-lower-text
              投稿する
    .header-lower-box
      - unless user_signed_in?
        = link_to new_user_session_path do
          .header-lower-menu
            .header-lower-text
              ログイン
      - else
        = link_to destroy_user_session_path, method: :delete, class: 'btn' do
          .header-lower-menu
            .header-lower-text
              ログアウト