.header{
  height:400px;
  color: white;
  background:url('ET.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.header-upper{
  height:300px;
  line-height:200px;
  text-align: center;
  padding:20px 0 0;
  font-size:40px;
  &:hover{
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}
.header-lower{
  // background:hsl(167, 93%, 71%);
  display:flex;
  justify-content: space-around;
  height:100px;
  // line-height:100px;
  font-size:15px;
  background:rgba(203, 240, 234, 0.3);
  &-box{
    width:33.3%;
    position: relative;
    &:hover{
      background:rgba(203, 240, 234, 0.8);
      .fa-biking{
        transform: translate(1000px);
        transition-duration:2s;
      }
      .header-lower-text{
        opacity: 1;
        left:30%;
        transition: all 1s ease;
      }
    }
  }
}

.header-lower-menu{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.header-lower-text{
  font-size:20px;
  opacity: 0;
  position: absolute;
  left:0;
  top:35px;
  color:#666666;
}

.fa-biking{
  color:black;
  position: absolute;
  top:30%;
  left:15%;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  37.5% {
    transform: translate(-1px, -1px);
  }
  62.5% {
    transform: translate(1px, 1px);
  }
  87.5% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes go {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(200px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
