.main{
  background: #eeeeee;
  // height:1000px;
}
.main-area{
  width:80%;
  padding:50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.route-data-box{
  background: #ffffff;
  width:200px;
  margin-bottom:20px;
	top: 50px;
  z-index:10;
}
.route-data-box-lower{
  display:flex;
  justify-content: space-around;
}

.route-image{
  height:100px;
  background-repeat: no-repeat;
  background-size: contain;
  &:hover{
    opacity:0.8;
  }
}
.index-image{
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

body::after { //ロード画面のCSS。bodyの擬似要素として追加。js発火前は非表示にしておく。
  content: 'ロード中...';
  font-size:50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: skyblue;  /* 背景カラー */
  background: url('sV0jltkV.jpg');  /* 背景カラー */
  z-index: 9999;  /* 一番手前に */
  pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity:0;  /* 初期値 : 透過状態 */
  transition: opacity 1s ease; /*消えるまでの時間、消え方*/
}

body.fadeout::after { //jsでbodyにfadeoutクラスが付与されたら表示する
  opacity: 1;
}

.map-area{
  background:skyblue;
  height:1000px;
  padding-top:100px;
}

.slick-area{
  margin:0 auto;
  width:80%;
  max-width: 600px;
  // height:200px;
  .image-a{
    background:red;
    // height:200px;  
  }
  .image-b{
    background:yellow;
    height:200px;  
  }
  .image-c{
    background:blue;
    height:200px;  
  }
}

.random-image-area{
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-link2{
  width:50%;
}

@media screen and (max-width: 800px) {
  .post-link2{
    width: 100%; 
  }
}

.landscape-image{
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.post-button{
  width:150px;
  height:150px;
  border-radius: 50%;
  background: skyblue;
  position: fixed;
  right:50px;
  bottom:50px;
  z-index:10;
  text-align: center;
  line-height: 150px;
  font-size:30px;
  color:#ffffff;
}